@font-face {
    font-family: Poppins-Regular;
    src: url("../fonts/poppins/Poppins-Regular.otf");
}
@keyframes gear{
    0% {
    transform: rotate(0deg);
    }
  100%{
    transform: rotate(360deg);
  }     

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.justify-center {
    justify-content: center;
}

.align-stretch {
    align-items: stretch;
}

.align-center {
    align-items: center;
}

.align-left {
    align-items: flex-start;
}

.align-right {
    align-content: flex-end;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}


.justify-right {
    justify-content: flex-end;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.m-a {
    margin: auto;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 1320px;
    margin: auto;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/BG/hero-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.Aqua{ 
    background-color: #6bbaa7;
    width: 121px;
    height: 45px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px; 
}

.b{
    background-color: #6bbaa7;
    width: 327px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.b-2{
    background-color: #6bbaa7;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    padding: 10px;
    margin-left:45%;
    margin-top: 50px;
    text-align: center;
    width: 245px;
    border-radius: 4px;
    height: 46px;
    border: none;
}
.b-3{
    background-color: #6bbaa7;
    width: 180px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px;
    margin: 24px 5px 5px 0px;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 8px 26px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}
.b-4{
    color: #fff;
    font-size: 14px;
    font-family: Poppins-Regular;
    background-color: #6bbaa7;
    padding: 8px 22px;
    border-radius: 5px;
    margin-left: -3px;
}
.b-1{
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #6bbaa7;
    margin-top: 17px;
    width: 274px;
    box-shadow: 0px 5px 0px 0px #555555;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
}
.round{
    width: 102px;
    border-radius: 50px;
    border: 2px solid #6bbaa7;
    color: #6bbaa7;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.round-2{
    width: 100px;
    border-radius: 50px;
    border: 2px solid #6bbaa7;
    color: #6bbaa7;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.round-3{
    width: 112px;
    border-radius: 50px;
    border: 2px solid #6bbaa7;
    color: #6bbaa7;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.round-4{
    width: 162px;
    border-radius: 50px;
    border: 2px solid #6bbaa7;
    color: #6bbaa7;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.h2{
    color: #6bbaa7;
    font-size: 50px;
    font-weight: 800;
    font-family: Poppins-Regular;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
    margin: 0px 0px 26px; 
}
.s-1{
    color: #6bbaa7;
    font-size: 30px;
    text-align: center;
    font-family: Poppins-Regular;
}
.link-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}
.link-1 li a {
    font-family: Poppins-Regular;
    color: #666666;
    font-weight: bolder;
    font-size: 15px;
}

.link-1 li:nth-child(1) a {
    font-family: Poppins-Regular;
    color: #6bbaa7;
    font-weight: bolder;
    font-size: 15px;
}

.link-1 li a:hover {
    font-family: Poppins-Regular;
    color: #6bbaa7;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}
.Sunshine{
    background-color: #fba100;
    width: 121px;
    height: 45px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px; 
}
.s-b{
    background-color: #fba100;
    width: 327px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.s-b-2{
    background-color: #fba100;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    width: 245px;
    border-radius: 4px;
    height: 46px;
    border: none;
}
.s-b-3{
    background-color: #fba100;
    width: 180px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px;
    margin: 24px 5px 5px 0px;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 8px 26px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}
.s-b-4{
    color: #fff;
    font-size: 14px;
    font-family: Poppins-Regular;
    background-color: #fba100;
    padding: 8px 22px;
    border-radius: 5px;
    margin-left: -3px;
}
.s-b-1{
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #fba100;
    margin-top: 17px;
    width: 274px;
    box-shadow: 0px 5px 0px 0px #555555;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
}
.s-round{
    width: 102px;
    border-radius: 50px;
    border: 2px solid #fba100;
    color: #fba100;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.s-round-2{
    width: 100px;
    border-radius: 50px;
    border: 2px solid #fba100;
    color: #fba100;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.s-round-3{
    width: 112px;
    border-radius: 50px;
    border: 2px solid #fba100;
    color: #fba100;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.s-round-4{
    width: 162px;
    border-radius: 50px;
    border: 2px solid #fba100;
    color: #fba100;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.s-h2{
    color: #fba100;
    font-size: 50px;
    font-weight: 800;
    font-family: Poppins-Regular;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
    margin: 0px 0px 26px; 
}
.link-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.link-2 li a {
    font-family: Poppins-Regular;
    color: #666666;
    font-weight: bolder;
    font-size: 15px;
}

.link-2 li:nth-child(1) a {
    font-family: Poppins-Regular;
    color: #fba100;
    font-weight: bolder;
    font-size: 15px;
}

.link-2 li a:hover {
    font-family: Poppins-Regular;
    color: #fba100;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}


.Lavuender{
    background-color: #6c648b;
    width: 121px;
    height: 45px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px; 
}
.l-b{
    background-color: #6c648b;
    width: 327px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.l-b-2{
    background-color: #6c648b;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    padding: 10px;
    margin-top: 50px;
    margin-left:45%;
    text-align: center;
    width: 245px;
    border-radius: 4px;
    height: 46px;
    border: none;
}
.l-b-3{
    background-color: #6c648b;
    width: 180px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px;
    margin: 24px 5px 5px 0px;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 8px 26px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}
.l-b-4{
    color: #fff;
    font-size: 14px;
    font-family: Poppins-Regular;
    background-color: #6c648b;
    padding: 8px 22px;
    border-radius: 5px;
    margin-left: -3px;
}
.l-b-1{
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #6c648b;
    margin-top: 17px;
    width: 274px;
    box-shadow: 0px 5px 0px 0px #555555;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
}
.l-round{
    width: 102px;
    border-radius: 50px;
    border: 2px solid #6c648b;
    color: #6c648b;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.l-round-2{
    width: 100px;
    border-radius: 50px;
    border: 2px solid #6c648b;
    color: #6c648b;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.l-round-3{
    width: 112px;
    border-radius: 50px;
    border: 2px solid #6c648b;
    color: #6c648b;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.l-round-4{
    width: 162px;
    border-radius: 50px;
    border: 2px solid #6c648b;
    color: #6c648b;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.l-h2{
    color: #6c648b;
    font-size: 50px;
    font-weight: 800;
    font-family: Poppins-Regular;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
    margin: 0px 0px 26px; 
}
.link-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}
.link-3 li a {
    font-family: Poppins-Regular;
    color: #666666;
    font-weight: bolder;
    font-size: 15px;
}

.link-3 li:nth-child(1) a {
    font-family: Poppins-Regular;
    color: #6c648b;
    font-weight: bolder;
    font-size: 15px;
}

.link-3 li a:hover {
    font-family: Poppins-Regular;
    color: #6c648b;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}
.Dustyrose{
    background-color: #b6a19e;
    width: 121px;
    height: 45px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px; 
}
.d-b{
    background-color: #b6a19e;
    width: 327px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px; 
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}
.d-b-2{
    background-color: #b6a19e;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    padding: 10px;
    margin-top: 50px;
    margin-left:45%;
    text-align: center;
    width: 245px;
    border-radius: 4px;
    height: 46px;
    border: none;
}
.d-b-3{
    background-color: #b6a19e;
    width: 180px;
    height: 46px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px;
    margin: 24px 5px 5px 0px;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 8px 26px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}
.d-b-4{
    color: #fff;
    font-size: 14px;
    font-family: Poppins-Regular;
    background-color: #b6a19e;
    padding: 8px 22px;
    border-radius: 5px;
    margin-left: -3px;
}
.d-b-1{
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #b6a19e;
    margin-top: 17px;
    width: 274px;
    box-shadow: 0px 5px 0px 0px #555555;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
}
.d-round{
    width: 102px;
    border-radius: 50px;
    border: 2px solid #b6a19e;
    color: #b6a19e;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.d-round-2{
    width: 100px;
    border-radius: 50px;
    border: 2px solid #b6a19e;
    color: #b6a19e;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.d-round-3{
    width: 112px;
    border-radius: 50px;
    border: 2px solid #b6a19e;
    color: #b6a19e;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.d-round-4{
    width: 162px;
    border-radius: 50px;
    border: 2px solid #b6a19e;
    color: #b6a19e;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}
.d-h2{
    color: #b6a19e;
    font-size: 50px;
    font-weight: 800;
    font-family: Poppins-Regular;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
    margin: 0px 0px 26px; 
}
.d-s-1{
    color: #b6a19e;
    font-size: 30px;
    text-align: center;
    font-family: Poppins-Regular;
}
.link-4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.link-4 li a {
    font-family: Poppins-Regular;
    color: #666666;
    font-weight: bolder;
    font-size: 15px;
}

.link-4 li:nth-child(1) a {
    font-family: Poppins-Regular;
    color: #b6a19e;
    font-weight: bolder;
    font-size: 15px;
}

.link-4 li a:hover {
    font-family: Poppins-Regular;
    color: #b6a19e;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}
/* Change Theme */

#color{
    width:40px;
    height:40px;
    color: #6c757d;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top:20%;
    right:25px;
}
#color i{
    animation: 2s infinite gear ;
} 
.color-list{
text-align: center;
font-family: Poppins-Regular;   
font-size: 25px;
background-color:transparent;
border-radius:8px;
color: #999;
position: absolute;
top:25%;
right: 25px;
display: none;
}
.color-list li:nth-child(1){
background-color: #6bbaa7;
width:50px;
height: 50px;
border-radius:50px; 
text-align: center;
}

.color-list li:nth-child(2){
    background-color: #fba100; 
    width:50px;
    height: 50px;
    border-radius:50px; 
    text-align: center;
    }
    
.color-list li:nth-child(3){
    background-color: #6c648b; 
    width:50px;
    height: 50px;
    border-radius:50px; 
    text-align: center;
    }
    
.color-list li:nth-child(4){
    background-color: #b6a19e; 
    width: 50px;
    height: 50px;
    border-radius:50px; 
    text-align: center;
}
.list{
    display: block;
}
.color-list li:hover{
    cursor: pointer;
    height: 50px;
    border-radius:50px; 
    text-align: center;
}

/* navbar */

.menu {
    gap: 20px;
}

.nav {
    padding: 10px;
}

.nav ul li>a {
    display: block;
    font-family: Poppins-Regular;
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    padding: 12px;
    font-weight: 700;
}

.nav .icon i {
    width: 40px;
    height: 30px;
    margin-left: 5px;
    color: #666666;
    line-height: 28px;
   
}

.icon li span {
    display: none;
    text-align: center;
}


.icon li:hover i{
    color: white;
}
.icon li:nth-child(1):hover {
    background-color: rgb(56, 56, 233);

}

.icon li:nth-child(2):hover {
    background-color: rgb(28, 133, 231);

}

.icon li:nth-child(3):hover {
    background-color: rgb(177, 44, 44);
   
}

.icon li:nth-child(4):hover {
    background-color: rgb(149, 80, 214);
    
}

.icon li:nth-child(5):hover {

    background-color: gray;
}





.icon li:nth-child(1):hover span {
    width: 80px;
    font-family: Poppins-Regular;
   display: inline-block;
    color: #fff;
    font-size: 14px;
}

.icon li:nth-child(2):hover span {
    width: 60px;
    font-family: Poppins-Regular;
    display: inline-block;
    color: #fff;
    font-size: 14px;

}

.icon li:nth-child(3):hover span {
    width: 70px;
    font-family: Poppins-Regular;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.icon li:nth-child(4):hover span {
    width: 80px;
    font-family: Poppins-Regular;
    display: inline-block;
    color: #fff;
    font-size: 14px;
}

.icon li:nth-child(5):hover span {
    width: 150px;
    font-family: Poppins-Regular;
    display: inline-block;
    color: #fff;
    font-size: 14px;


}



.nav {
    overflow: hidden;
}

.nav a {
    float: left;
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
    text-align: justify;
    z-index: 0;
}

.dropdown .dropbtn {
    text-align: justify;
    border: none;
    outline: none;
    color: #555555;
    padding-bottom: 5px;
    background-color: inherit;
    font-family: Poppins-Regular;
    margin: 0;
}

.dropbtn span {
    font-size: 12px;
    font-weight: bolder;
    padding-left: 10px;
    font-family: Poppins-Regular;
}

.dropdown img {
    height: 20px;
    width: 20px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 5%;
    background-color: #f9f9f9;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #Fe9603;
}

.dropdown-content a {
    float: none;
    color: #666666;
    font-size: 12px;
    font-weight: 700;
    text-align: justify;
    font-family: Poppins-Regular;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content a span {
    font-size: 12px;
    font-weight: bolder;
    padding-left: 10px;
    font-family: Poppins-Regular;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* header */
.header {
    width: 1320px;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 4px 0px #444;
    border-radius: 2px;


}

.link li {
    padding-left: 20px;
}

.btn {
    width: 121px;
    height: 45px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px;
    background-color: #Fe9603;
    margin: 5px 5px 5px 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    width: 121px;
    height: 45px;
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 15px;
    background-color: #555555;
    margin: 5px 5px 5px 16px;
    padding: 12px;
    padding-left: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.link {
    margin-left: auto;
}

.link li a {
    font-family: Poppins-Regular;
    color: #666666;
    font-weight: bolder;
    font-size: 15px;
}

.link li:nth-child(1) a {
    font-family: Poppins-Regular;
    color: #Fe9603;
    font-weight: bolder;
    font-size: 15px;
}

.link li a:hover {
    font-family: Poppins-Regular;
    color: #Fe9603;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.header .menu-bar {
    color: rgb(243, 112, 112);
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


.dropbtn-1 {
    font-size: 15px;
    font-weight: 700;
    border: none;
    outline: none;
    color: #555555;
    background-color: inherit;
    font-family: Poppins-Regular;
    margin: 0;
}

.dropdown-content-1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1320px;
    top: 18.2%;
    left: 16%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #Fe9603;
    z-index: 1;
    transition: all ease-in 2s;
}

.dropdown-content-1 a {
    float: none;
    color: #666666;
    font-size: 18px;
    font-weight: 700;
    font-family: Poppins-Regular;
    text-decoration: none;
    display: block;

}

.dropdown-content-1 a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content-1 {
    display: block;
}

.view {
    background-color: #c9c9c9;
    color: #333;
    height: 50px;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin-top: 1px;
    padding-top: 10px;
    text-align: center;
}

.view:hover {
    background-color: #444;
    color: #fff;
    height: 50px;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin-top: 1px;
    padding-top: 10px;
    text-align: center;
}

.box-3 {
    width: 440px;
    border: 1px solid #AAAAAA;
    padding: 20px;


}

.box-3:hover {
    width: 440px;
    border: 1px solid #AAAAAA;
    padding: 10px;
    cursor: pointer;
    background-color: #999999;
}

.box-3 img {
    width: 50px;
    height: 50px;
    padding-left: 6px;

}

.box-3 h3 {
    font-size: 16px;
    color: #444;
    padding-left: 15px;
    text-align: justify;
    font-family: Poppins-Regular;
}

.box-3 p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: rgb(194, 194, 194);
    padding-left: 15px;
    font-family: Poppins-Regular;
}

/* banner */
.banner {
    width: 1320px;
    height: 961px;
    margin: auto;

}

.box-1 {
    width: 528px;
    padding: 48px 0px 0px;
    margin: 0px -12px;

}

.box-1 .border-round {
    width: 102px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}

.box-1 .border-round:hover {
    width: 102px;
    box-shadow: 0 5px 7px 0 #Fe9603 inset, 0 5px 7px 0 #Fe9603;
    text-shadow: 0 5px 7px 0 #Fe9603, 0 5px 7px 0 #Fe9603;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
}

.box-1 h2 {
    color: #444;
    font-size: 50px;
    font-weight: 800;
    font-family: Poppins-Regular;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
    margin: 0px 0px 26px;
}

.box-1 h3 {
    color: #AAAAAA;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 30px;
    font-family: Poppins-Regular;
    animation: slideInRight;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.box-1 h3 span {
    color: #Fe9603;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 30px;
    font-family: Poppins-Regular;
}

.box-1 p {
    color: #777777;
    font-size: 15px;
    font-weight: 900;
    margin: 0px 0px 30px;
    font-family: Poppins-Regular;
    animation: slideInUp;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.box-1 .btn-1 {
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 16px;
    background-color: #Fe9603;
    margin: 5px;
    padding: 8px 26px;
    border-radius: 5px;
    border: none;
    transform: translate3d(10px, 0, 0);
    box-shadow: 0px 5px 0px 0px #555555;
}

.box-1 .btn-1:hover {
    color: #ffffff;
    font-family: Poppins-Regular;
    font-size: 16px;
    background-color: #777777;
    margin: 5px;
    padding: 8px 26px;
    border-radius: 3px;
    border: none;
}

.box-1 .btn-2 {
    background-color: #ffffff;
    font-size: 16px;
    color: #212529;
    font-family: Poppins-Regular;
    margin: 5px;
    padding: 8px 26px;
    border: 0.9px solid #777777;
    border-radius: 3px;
    box-shadow: 0px 5px 0px 0px #555555;
}

.box-2 {
    width: 60%;
}

/* slider-1 */
.slider-1 {
    width: 100%;
    margin: auto;
    padding: 28px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

/* Service */
.heading-block {
    width: 100%;
    height: 268px;
    padding: 0px 291.5px;
    margin: 0px 12px;
}

.border-round-2 {
    width: 102px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.border-round-2:hover {
    width: 102px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    box-shadow: 0 5px 7px 0 #Fe9603 inset, 0 5px 7px 0 #Fe9603;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.heading-block h3 {
    color: #333333;
    font-size: 28px;
    font-weight: bolder;
    font-family: Poppins-Regular;
    margin: 0px 0px 16px;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s
}

.heading-block p {
    color: #777777;
    font-size: 16px;
    text-align: center;
    font-family: Poppins-Regular;
    margin-inline-start: 0px 0px 30px;
    animation: slideInRight;
    animation-duration: 800ms;
    animation-delay: 1s
}

.des-box {
    width: 1320px;

}

.box-4 {
    width: 400px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;

}

.box-4 h4 {
    color: #333333;
    font-size: 16px;
    font-family: Poppins-Regular;
    text-align: right;
}

.box-4 h3 {
    color: #333333;
    font-size: 16px;
    font-family: Poppins-Regular;
    text-align: justify;
}

.box-4 p {
    color: #999999;
    font-size: 16px;
    float: right;
    text-align: justify;
    margin: 8px 0px 0px;
    font-family: Poppins-Regular;
}

.box-4 img {
    width: 64px;
    height: 64px;
    display: block;
    margin-left: 30px;
    position: relative;
    color: #fff;
}

.line {
    margin-left: 23px;
    margin-right: 23px;
}

/* Price-table */
.pricing {
    width: 100%;
    background-image: url("../images/BG/4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}

.pricing-table {
    width: 1320px;
    display: flex;
    padding: 140px 0 140px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.border-round-3 {
    width: 112px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.border-round-3:hover {
    width: 112px;
    border-radius: 50px;
    box-shadow: 0 5px 7px 0 #Fe9603 inset, 0 5px 7px 0 #Fe9603;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}


.pricing-table h3 {
    color: #333333;
    font-size: 28px;
    font-family: Poppins-Regular;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.pricing-table .line-2 {
    color: #555555;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 30px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.pricing-table .box-5 {
    color: #555555;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 24px;
    width: 356px;
    height: 39px;
}

.pricing-table .left-text {
    color: #555555;
    font-size: 17px;
    font-family: Poppins-Regular;
    font-weight: 900;
}

.pricing-table .switch {
    border-radius: 4px;
    background-color: #Fe9603;
    padding: 2px;
    width: 60px;
    height: 30px;
    display: block;
    position: relative;
    outline: 0;
}

.pricing-table .switch:hover {
    border-radius: 4px;
    background-color: #Fe9603;
    padding: 2px;
    width: 60px;
    height: 30px;
    display: block;
    position: relative;
    outline: 0;
}

.pricing-table .switch:after {
    border-radius: 4px;
    width: 28px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0/30%);
    transition: margin .4s;
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.pricing-table .right-text {
    opacity: .5;
    color: #6c757d;
}

.pricing-table .discount {
    position: relative;
    top: -36px;
    right: 36px;
    margin-top: 10px;
    background-image: url("../images/BG/discount.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 39px;
}

.pricing-table .box-6 {
    width: 371px;
    height: 547.5px;
    padding: 20px;
    margin: -1px 0 -1px 69px;
    border: 1px solid #555555;
    border-radius: 3px;
    float: left;
}

.pricing-table .box-6 .image {
    width: 50px;
    height: 50px;
    margin: 0px 0px 8px;
}

.pricing-table .box-6 h3 {
    columns: #555555;
    font-size: 26px;
    font-family: Poppins-Regular;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing-table .box-6 .generic {
    color: #777777;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin: 3px 0px;
}

.pricing-table .box-6 .sing {
    color: #333333;
    font-size: 28px;
    font-family: Poppins-Regular;
    margin: 7px 3px 0px 0px;
}

.pricing-table .box-6 .number {
    color: #333333;
    font-size: 58px;
    font-family: Poppins-Regular;
    margin: 7px 3px 0px 0px;
}

.pricing-table .box-6 .line-3 {
    color: #AAAAAA;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 0px 3px;
}

.pricing-table .box-6 ul li {
    color: #555555;
    font-size: 18px;
    font-family: Poppins-Regular;
    padding: 7px 0px;
}

.pricing-table .box-6 ul li i {
    background-color: #Fe9603;
    color: #ffffff;
    size: 14px;
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: 50%;
    margin-right: 15px;
}

.pricing-table .box-6 .button {
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #Fe9603;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 10px 114px;
    width: 327px;
    height: 46px;
    border-radius: 8px;
}

.pricing-table .box-6 .button:hover {
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    box-shadow: 0px 5px 0px 0px #999;
    background-color: #555555;
    padding: 10px 114px;
    width: 327px;
    height: 46px;
    border-radius: 8px;
}

.pricing-table .box-7 {
    width: 369px;
    height: 532.5px;
    margin: 13px 0px 0px 109px;
    padding: 20px;
    border: 1px solid #555555;
    border-radius: 3px;
    float: left;
}

.pricing-table .box-7 .image {
    width: 50px;
    height: 50px;
    margin: 0px 0px 8px;
}

.pricing-table .box-7 h3 {
    columns: #555555;
    font-size: 26px;
    font-family: Poppins-Regular;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricing-table .box-7 .generic {
    color: #777777;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin: 3px 0px;
}

.pricing-table .box-7 .sing {
    color: #333333;
    font-size: 28px;
    font-family: Poppins-Regular;
    margin: 7px 3px 0px 0px;
}

.pricing-table .box-7 .number {
    color: #333333;
    font-size: 58px;
    font-family: Poppins-Regular;
    margin: 7px 3px 0px 0px;
}

.pricing-table .box-7 .line-3 {
    color: #AAAAAA;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 0px 3px;
}

.pricing-table .box-7 ul {
    margin-top: 20px;
}

.pricing-table .box-7 ul li {
    color: #555555;
    font-size: 18px;
    font-family: Poppins-Regular;
    padding: 7px 0px;
}

.pricing-table .box-7 ul li i {
    background-color: #Fe9603;
    color: #ffffff;
    size: 14px;
    width: 26px;
    height: 26px;
    padding: 4px;
    border-radius: 50%;
    margin-right: 15px;
}

.pricing-table .box-7 .button {
    color: #333333;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #ffffff;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 10px 114px;
    width: 327px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #333333;
}

/* Career Section*/
.career {
    width: 100%;
    height: 584px;
    background-image: url('../images/BG/1.jpg');
    background-position: center;
    padding: 100px 0px;
}



.box-8 .border-round-4 {
    width: 100px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.box-8 .border-round-4:hover {
    width: 100px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    box-shadow: 0 5px 7px 0 #Fe9603 inset, 0 5px 7px 0 #Fe9603;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.box-8 h3 {
    color: #333333;
    font-size: 28px;
    line-height: 1.5;
    font-family: Poppins-Regular;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.box-8 p {
    color: #555555;
    font-size: 16px;
    text-align: justify;
    font-family: Poppins-Regular;
    text-align: justify;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
}

form {
    color: #555555;
    background-color: #ffffff;
    width: 304px;
    height: 382px;
    font-size: 16px;
    font-family: Poppins-Regular;
    padding: 0PX 12px;
    border: 2px solid #e6e5e5;
    border-radius: 4px;

}

form h4 {
    color: #444;
    font-size: 20px;
    font-family: Poppins-Regular;
    padding: 0px 0px 16px;
}

form label {
    color: #555555;
    font-size: 13px;
    font-weight: bolder;
    font-family: Poppins-Regular;
    margin: 10px 0px 10px;
}

form input {
    width: 272px;
    height: 38px;
    font-size: 13px;
    font-family: Poppins-Regular;
    border: 1px solid #6c757d;
    border-radius: 4px;
    padding: 6px 12px;
}

form .button-1 {
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #Fe9603;
    margin-top: 17px;
    width: 274px;
    box-shadow: 0px 5px 0px 0px #555555;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
}

form .button-1:hover {
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #999999;
    box-shadow: 0px 5px 0px 0px #555555;
    margin-top: 17px;
    cursor: pointer;
    width: 274px;
    height: 46px;
    border: none;
    border-radius: 8px;
    padding: 8px 22px;
}

.play-button {
    width: 440px;
    padding: 0px 12px;
}

.play-button .icon {
    width: 70px;
    height: 70px;
    padding: 0px 0px 0px 4px;
    background-color: #Fe9603;
    border-radius: 50%;
}

.play-button .icon i {
    font-size: 39px;
    text-align: center;
    padding-top: 16px;
    padding-left: 20px;
    color: #ffffff;
}

.play-button .icon:hover {
    width: 70px;
    height: 70px;
    box-shadow: 1px 0px 0px 22px #Fe9603;
    background-color: #Fe9603;
    border-radius: 50%;
}

/* Completed Projects */
.projects {
    width: 100%;
    background-size: cover;
    background-image: url("../images/BG/5\ \(1\).jpg");
    position: relative;
    padding: 80px 0px;
}

.projects .col-4 img {
    width: 358.66px;
    height: 239.09px;
    padding: 20px;
}

.projects .col-4 img:hover {
    filter: brightness(70%);
}

.projects .col-4 a {
    font-size: 20px;
    font-family: Poppins-Regular;
    color: #222222;
}

.projects .col-4 a:hover {
    font-size: 20px;
    cursor: pointer;
    font-family: Poppins-Regular;
}

.projects .col-4 span {
    font-size: 16px;
    font-family: Poppins-Regular;
    color: #888888;
}

.heading-block-1 {
    width: 100%;
    height: 268px;
}

.border-round-5 {
    width: 162px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.border-round-5:hover {
    width: 162px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    box-shadow: 0 5px 7px 0 #Fe9603 inset, 0 5px 7px 0 #Fe9603;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.heading-block-1 h3 {
    color: #333333;
    font-size: 28px;
    font-family: Poppins-Regular;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.des-1 {
    margin-left: 24px;
}

.button-2 {
    color: #ffffff;
    font-size: 16px;
    font-family: Poppins-Regular;
    box-shadow: 0px 5px 0px 0px #555555;
    background-color: #Fe9603;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    width: 245px;
    border-radius: 4px;
    height: 46px;
    border: none;
}

/* Testmonial  Section */

.testmonial .col-4 h3 {
    font-size: 16px;
    font-family: Poppins-Regular;
    color: #333333;
    text-align: center;
}

.testmonial .col-4 p {
    font-size: 15px;
    font-family: Poppins-Regular;
    color: #333333;
}

.testmonial .col-4 img {
    width: 64px;
    text-align: center;
    height: 63.98px;
    padding-bottom: 15px;
}

.testmonial {
    width: 100%;
    margin: 0 0 60px;
    padding: 80px 0px 70px;
}

/* Artical Section*/
.artical {
    width: 1320px;
    padding: 24 12px;
}

.border-round-7 {
    width: 162px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    color: #Fe9603;
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.border-round-7:hover {
    width: 162px;
    border-radius: 50px;
    border: 2px solid #Fe9603;
    box-shadow: 0 5px 7px 0 #Fe9603 inset, 0 5px 7px 0 #Fe9603;
    color: #Fe9603;
    text-align: center;
    margin-top: 25px;
    font-weight: 600;
    font-size: 12px;
    font-family: Poppins-Regular;
    margin: 0px 0px 15px;
    padding: 10px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.title {
    font-size: 28px;
    font-family: Poppins-Regular;
    color: #333333;
    font-weight: bolder;
    padding-bottom: 40px;
    text-align: justify;
    animation: slideInLeft;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.col-4 .box-10 {
    width: 440px;
    height: 549px;
    color: #555555;
    padding: 0px 12px;
}

.col-4 .box-10 .img {
    width: 416px;
    height: 277px;
    border-radius: 5px;
}

.col-4 .box-10 .img-2 {
    width: 416px;
    height: 277px;
    border-radius: 5px;
}

.col-4 .box-10 .img-3 {
    width: 416px;
    height: 277px;
    border-radius: 5px;
}

.col-4 .box-10 .img:hover {
    filter: contrast(40%);
}

.col-4 .box-10 .img-2:hover {
    filter: brightness(120%);
}

.col-4 .box-10 .img-3:hover {
    filter: blur(2px);
}

.col-4 .box-10 a {
    color: #222222;
    font-size: 17px;
    font-family: Poppins-Regular;
}

.col-4 .box-10 a:hover {
    color: #Fe9603;
    font-size: 17px;
    font-family: Poppins-Regular;
}

.col-4 .box-10 li i {
    color: #999999;
    font-size: 14px;
    font-family: Poppins-Regular;
}

.col-4 .box-10 li a {
    color: #999;
    font-size: 14px;
    animation: heartBeat;
    animation-duration: 800ms;
    animation-delay: 1s;
    font-family: Poppins-Regular;
}

.col-4 .box-10 ul {
    width: 436px;
    color: #555555;
    font-size: 16px;
    padding-left: 25px;
    padding-top: 20px;
    font-family: Poppins-Regular;
    margin: 0px 0px -10px -20px;
}

.col-4 .box-10 p {
    color: #555555;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 30px;
    padding-top: 40px;
}

/* Footer Section */
.footer {
    background-image: url("../images/BG/hero-3.svg");
    background-position: right;
    background-repeat: no-repeat;
}

.footer-1 {
    color: #555555;
    width: 100%;
    padding: 100px 0px;
}

.footer-1 h5 {
    color: #444;
    font-size: 14px;
    margin: 0px 0px 4px;
    text-align: center;
    font-family: Poppins-Regular;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;

}

.footer-1 h2 {
    color: #333;
    font-size: 30px;
    text-align: center;
    font-family: Poppins-Regular;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.footer-1 h2 span {
    color: #Fe9603;
    font-size: 30px;
    text-align: center;
    font-family: Poppins-Regular;

}

.footer-1 .button-3 {
    width: 180px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-family: Poppins-Regular;
    background-color: #Fe9603;
    margin: 24px 5px 5px 0px;
    box-shadow: 0px 5px 0px 0px #555555;
    padding: 8px 26px;
    animation: zoomIn;
    animation-duration: 800ms;
    animation-delay: 1s;
}

.footer-1 .button-3:hover {
    width: 180px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 5px 0px 0px #999;
    font-family: Poppins-Regular;
    background-color: #555555;
    margin: 24px 5px 5px 0px;
    padding: 8px 26px;
}

.menu-2 {
    width: 100%;

}

.footer-2 {
    width: 100%;
}

.footer-2 .line-4 {
    width: 856px;
    height: 54px;
    color: #555555;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 30px;
}

.footer-2 .image-3 {
    width: 133px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.footer-2 .col-8 ul {
    color: #555555;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin: 0px 0px 32px;
    padding: 0px 12px;
}

.footer-2 .col-8 ul li a {
    color: #444;
    font-size: 15px;
    font-family: Poppins-Regular;
    padding: 0px 3px 0px 12px;

}

.footer-2 .col-4 .box-11 {
    width: 431px;
    height: 47px;
    color: #555555;
    font-size: 16px;
    font-family: Poppins-Regular;
    margin-bottom: 36px;
}

.footer-2 .col-4 .box-11 i {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.footer-2 .col-4 .box-11 .span-1 {
    color: #6c757d;
    font-size: 16px;
    text-align: justify;
    font-family: Poppins-Regular;
    margin-left: 18px;
}

.footer-2 .box-11 .span-1 h3 {
    color: #333333;
    font-family: Poppins-Regular;
    font-size: 16px;
}

.footer-2 h5 {
    color: #444;
    font-size: 14px;
    font-family: Poppins-Regular;
}

.footer-2 .col-4 .box-13 {
    width: 480px;
    height: 39px;
    border-radius: 5px;
    margin-left: 36px;
    margin-top: 25px;
}

.footer-2 .col-4 .box-13 i {
    width: 42px;
    height: 39px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #999;
    padding: 10px 10px;
}

.footer-2 .col-4 .box-13 .input {
    width: 259px;
    height: 39px;
    margin: 0px 0px 0px -3px;
    border-radius: 5px;
    padding: 10px 10px;
}

.footer-2 .col-4 .box-13 .button-4 {
    color: #fff;
    font-size: 14px;
    font-family: Poppins-Regular;
    background-color: #Fe9603;
    padding: 8px 22px;
    border-radius: 5px;
    margin-left: -3px;
}

.footer-2 .col-4 .box-13 .button-4:hover {
    color: #fff;
    font-size: 14px;
    font-family: Poppins-Regular;
    background-color: #222222;
    padding: 8px 22px;
    border-radius: 5px;
    margin-left: -3px;
}

.footer-2 .small {
    width: 416px;
    height: 74px;
    margin-top: 50px
}

.footer-2 .small i {
    font-size: 49px;
}

.footer-2 .small a {
    font-size: 14px;
    font-family: Poppins-Regular;
    font-weight: lighter;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
}

.footer-3 {
    width: 100%;
    height: 161px;
    background-image: url("../images/BG/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0px 40px;
}

.footer-3 .col-4 .box-12 {
    width: 398px;
    height: 81px;
    padding: 0px 12px 30px;
}

.footer-3 .col-4 .box-12 a {
    font-size: 14px;
    font-family: Poppins-Regular;
    text-decoration: dotted !important;
    color: #555555;
}

.footer-3 .col-4.box-12 .a-2 {
    font-size: 19px;
    font-family: Poppins-Regular;
    padding-bottom: 10px;
    text-decoration: dotted !important;
}

.footer-3 .col-4 .box-12 ul {
    width: 451px;
    height: 81px;
    color: #555555;
    font-family: Poppins-Regular;
    padding: 0px 12px 30px;
    color: #555555;
}

.footer-3 .icon-2 {
    background: #0000004d;
    width: 40px;
    height: 40px;
    border: 1px solid;
    padding: 12px;
    border-radius: 5px;
}

.footer-3 .icon-2:hover {
    background: #Fe9603;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 1px solid;
    padding: 12px;
    border-radius: 5px;
}